.section {
  &__categories {
    font-size: 1.71rem;
    padding: 0.85rem 0;
  }
  &__category {
    padding: 0 0.85rem;
    cursor: pointer;
    color: #292929;
  }
}
.active {
  color: #0068ff;
  font-weight: 800;
}

.seeMore {
  margin-bottom: 1.92rem;
  &__link {
    padding: 0 1.14rem;
    text-decoration: none;
    font-size: 0.85rem;
    color: #292929;
  }
}
