.slider {
  width: calc(100% - 2.3rem);
  &__image {
    width: 100%;
  }
  &__overlay {
    bottom: 1.42rem;
    left: 1.3rem;
    right: 3.42rem;
    color: #ffffff;

    &__title {
      font-size: 2rem;
      font-weight: 900;
      background: linear-gradient(90deg, #ffffff 0%, #dedede 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__desc {
      margin: 0.85rem 0;
      line-height: 1.42;
    }

    @media (min-width: 768px) {
      padding-left: 2.14rem;

      display: flex;
      justify-content: space-between;
      align-items: flex-start; // góra, żeby button mógł się wyrównać do dołu tekstu

      .slider__overlay__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      &__title {
        font-size: 2.85em;
        line-height: 1.55;
      }
      &__desc {
        font-size: 1.14em;
        line-height: 1.55;
        max-width: 615px;
        margin: 0;
      }

      button {
        margin-top: auto; // wyrównanie buttona do dołu tekstu
      }
    }
  }

  &__overlay button {
    padding: 0.71rem 1.14rem;
    line-height: 1.42;
  }
  &__overlay button:hover {
    opacity: 0.8;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.slick-prev {
  left: 48px;
}

.slick-next {
  right: 48px;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}
